.product {
	&__wrap {
		padding: 40px 0 50px 0;
	}

	&__row {
		display: grid;
		gap: 60px;
		grid-template-columns: 1fr 0.51fr;
	}

	&__column {
	}

	&__gallery {
		position: relative;
	}

	&__breadcrumbs {
	}

	&__group-title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 10px;
	}

	&__title {
	}

	&__fav {
	}

	&__article {
		margin-bottom: 20px;
	}

	&__group-rating {
		display: flex;
		align-items: center;
		margin-bottom: 20px;
	}

	&__rating {
		margin-right: 10px;
	}

	&__rating-text {
		font-size: 12px;
		line-height: 140%;
		color: #666666;
	}

	&__price {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 15px;
	}

	&__price-current {
		margin-right: 10px;
		margin-bottom: 10px;
		font-size: 24px;
		line-height: 120%;
		color: #000000;
	}

	&__price-old {
		margin-bottom: 10px;
		font-size: 14px;
		line-height: 140%;
		text-decoration-line: line-through;
		color: #999999;
	}

	&__color {
		padding: 25px 0 15px 0;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		border-top: 1px solid rgba(0, 0, 0, 0.1);
	}

	&__size {
		padding: 25px 0 25px 0;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}

	&__group-buy {
		padding: 25px 0 25px 0;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}

	&__share {
		padding: 25px 0 25px 0;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}

	&__tab {
		padding-top: 25px;
	}

	&__tab-controls {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 25px;
	}

	&__tab-control {
		position: relative;
		cursor: pointer;
		font-size: 12px;
		line-height: 140%;
		text-transform: uppercase;
		color: #999999;
		transition: all 0.3s ease;

		&.active {
			color: #000000;
		}

		&:hover {
			color: #000000;
		}
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			right: -12px;
			transform: translate(0, -50%);
			width: 2px;
			height: 2px;
			background: #999999;
		}
		&:last-child {
			&::before {
				content: none;
			}
		}
	}

	&__tab-contents {
	}

	&__tab-content {
		display: none;
		&.active {
			display: block;
		}

		&.--property {
			& ul {
				grid-template-columns: 1fr 1fr;
				column-gap: 30px;
			}
		}
	}

	&__text {
		& p {
			margin-bottom: 20px;
			font-size: 14px;
			line-height: 140%;
			color: #444444;
		}

		& ul {
			margin-bottom: 25px;
		}
	}

	&__group-sticy {
	}
}

.gallery-product {
	&__banner {
		top: 15px;
		left: 20px;
	}

	&__lsit {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;
	}

	&__item {
		position: relative;
		&:first-of-type {
			grid-column: span 2;
		}
		&.--video {
			padding-top: 133%;
			&::before {
				content: "";
				position: absolute;
				bottom: 30px;
				right: 35px;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background: url("../img/icon-video-product-arrwo.svg") no-repeat center, #fff;
				z-index: 2;
				transition: all 1s ease;
			}
		}
	}

	&__video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.fav {
	cursor: pointer;
	display: inline-block;
	& svg {
		vertical-align: middle;
		fill: transparent;
		transition: all 0.3s ease;
	}

	&:hover {
		& svg {
			fill: #000;
		}
	}

	&.added {
		& svg {
			fill: #000;
		}
	}
}

.article {
	font-size: 12px;
	line-height: 140%;
	color: #999999;
}

.rating {
	&__wrap {
		display: flex;
		align-items: center;
	}

	&__item {
		padding-right: 4px;
		&:last-child {
			padding-right: 0;
		}
		&.added {
			& svg {
				fill: #c41616;
			}
		}
	}
}

.color-product {
	&__current {
		margin-bottom: 15px;
		font-size: 12px;
		line-height: 140%;
		text-transform: uppercase;
		color: #000000;
		& span {
			color: #666666;
		}
	}

	&__list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}

	&__item {
		cursor: pointer;
		position: relative;
		margin-right: 10px;
		margin-bottom: 10px;
		min-width: 18px;
		min-height: 18px;
		max-width: 18px;
		max-height: 18px;
		border-radius: 50%;
		&:last-child {
			margin-right: 0;
		}
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: 13px;
			height: 13px;
			transform: translate(-50%, -50%);
			border-radius: 50%;
			border: 2px solid transparent;
		}
		&.current {
			&::before {
				border-color: #fff;
			}
		}
	}
}

.size-product {
	&__current {
		margin-bottom: 15px;
		font-size: 12px;
		line-height: 140%;
		text-transform: uppercase;
		color: #000000;
		& span {
			color: #666666;
		}
	}

	&__lsit {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 10px;
	}

	&__item {
		position: relative;
		cursor: pointer;
		margin-right: 9px;
		margin-bottom: 10px;

		&:last-child {
			margin-right: 0;
		}
		&.current {
			color: #fff;
			background: #000000;
			border-color: #000000;
		}

		&:not(.--out-of-stock):hover {
			& .size-product__value {
				color: #fff;
				background: #000000;
				border-color: #000000;
			}
		}

		&.--out-of-stock {
			& .size-product__value {
				position: relative;
				background: rgba(0, 0, 0, 0.02);
				color: rgba(0, 0, 0, 0.1);
				&::before {
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%) rotate(-45deg);
					width: 120%;
					height: 1px;
					background: rgba(0, 0, 0, 0.1);
				}
			}
		}

		&:hover {
			& .size-product__hint {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__value {
		display: inline-block;
		padding: 5px 6px 4px 6px;
		border: 1px solid rgba(0, 0, 0, 0.1);
		transition: all 0.3s ease;
	}

	&__hint {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		bottom: calc(100% + 12px);
		left: 50%;
		transform: translate(-50%, 0);
		min-width: 260px;
		padding: 20px;
		font-size: 12px;
		line-height: 140%;
		text-align: center;
		color: #444444;
		background: #ecedef;
		z-index: 3;
		transition: all 0.3s ease;
		&::before {
			content: "";
			position: absolute;
			top: 100%;
			left: 50%;
			transform: translate(-50%, 0);
			border-left: 20px solid transparent;
			border-right: 20px solid transparent;
			border-top: 10px solid #ecedef;
			z-index: 3;
		}
	}

	&__table-size {
		display: flex;
		align-items: center;
		font-size: 12px;
		line-height: 140%;
		color: #666666;
		& svg {
			margin-right: 10px;
		}
	}
}

.buy-product {
	&__wrap-button {
		display: flex;
		align-items: center;
		margin-bottom: 25px;
	}

	&__button {
		&:not(:last-child) {
			margin-right: 10px;
		}
	}

	&__info {
	}

	&__info-item {
		display: flex;
		align-items: center;
		font-size: 12px;
		line-height: 140%;
		color: #666666;
		& svg {
			margin-right: 10px;
		}
		& a {
			color: #000;
		}
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}

	&__form {
		margin-bottom: 25px;
	}

	&__form-group {
		display: flex;
		margin-bottom: 10px;
	}

	&__form-sub {
		position: relative;
		padding: 18px 34px 14px 20px;
		background: rgba(34, 176, 65, 0.05);
		& span {
			position: relative;
			display: inline-block;
			padding-left: 33px;
			font-size: 12px;
			line-height: 140%;
			color: #444444;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 15px;
				height: 15px;
				padding: 8px;
				border-radius: 50%;
				border: 2px solid #22b041;
				background: url("../img/icon-product-sub.svg") center no-repeat;
			}
		}
	}

	&__wrap-input {
		margin-right: 10px;
		& input {
			height: 100%;
		}
	}

	&__message {
		max-width: 170px;
	}

	&__form-subtext {
		font-size: 12px;
		line-height: 140%;
		color: #444444;
	}
}

.share-product {
	display: flex;
	align-items: center;
	&__text {
		margin-right: 15px;
		font-size: 12px;
		line-height: 140%;
		text-transform: uppercase;
		color: #000000;
	}

	&__list {
		& .ya-share2__link {
			border: 1px solid rgba(0, 0, 0, 0.1);
			&:hover {
				background: #ecedef;

				& .ya-share2__badge,
				& .ya-share2__mobile-popup-badge {
					background: #ecedef;
				}
			}
		}

		& .ya-share2__list.ya-share2__list_direction_horizontal > .ya-share2__item {
			margin-right: 10px;
		}
	}
}

ul.dots-text {
	display: grid;
	grid-gap: 15px;
	& li {
		position: relative;
		padding-left: 10px;
		color: #444444;
		&::before {
			content: "";
			position: absolute;
			top: 6px;
			left: 0;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background: #000;
		}
		& span {
			color: #999999;
		}
	}
}

@media (max-width: 1600px) {
	.size-product {
		&__item {
			&.--right {
				& .size-product__hint {
					left: initial;
					right: 0;
					&::before {
						left: initial;
						right: 0;
					}
				}
			}
		}

		&__hint {
			left: 0%;
			transform: translate(0, 0);
			&::before {
				left: 0%;
				transform: translate(0, 0);
			}
		}
	}
}

@media (max-width: 1170px) {
	.product {
		&__wrap {
			padding: 0px 0;
		}

		&__row {
			grid-template-columns: 1fr 0.7fr;
			gap: 30px;
		}
	}
}

@media (max-width: 900px) {
	.product {
		&__row {
			grid-template-columns: 1fr;
			gap: 25px;
		}

		&__fav {
			position: absolute;
			top: 15px;
			right: 0px;
		}

		&__group-one {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}

		&__group-title {
			margin-bottom: 15px;
		}

		&__tab-control {
			&::before {
				content: none;
			}
		}

		&__group-sticy {
			position: static !important;
			width: 100% !important;
		}

		& .sticky-spacer {
			display: none !important;
		}
	}

	.gallery-product {
		&__lsit {
			grid-template-columns: 1fr 1fr 1fr 1fr;
			gap: 15px;
		}

		&__item {
			&:first-of-type {
				grid-column: span 4;
				margin: 0 -15px;
			}

			&.--video {
				&::before {
					right: initial;
					bottom: initial;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
				&.show {
					&::before {
						opacity: 0;
					}
				}
			}
		}

		&__banner {
			left: 0;
		}
	}
}

@media (max-width: 768px) {
	.product {
		&__price {
			margin-bottom: 5px;
		}

		&__group-rating {
			margin-bottom: 15px;
		}

		&__color {
			padding: 15px 0 5px 0;
		}

		&__size {
			padding: 15px 0;
		}

		&__group-buy {
			padding: 15px 0;
		}

		&__share {
			padding: 15px 0;
		}

		&__tab-controls {
			margin-bottom: 20px;
		}

		&__tab-control {
			font-size: 10px;
		}
	}

	.buy-product {
		&__form {
			margin-bottom: 15px;
		}
		&__message {
			max-width: 140px;
		}

		&__form-sub {
			padding: 18px 34px 14px 15px;
		}
	}

	.size-product {
		&__hint {
			min-width: 150px;
			padding: 15px;
		}
	}
}

@media (max-width: 500px) {
	.buy-product {
		&__wrap-button {
			flex-direction: column;
		}

		&__button {
			&:not(:last-child) {
				margin-right: 0;
				margin-bottom: 15px;
			}
		}
	}
}

@media (max-width: 370px) {
	.product {
		&__tab-control {
			font-size: 9px;
		}
	}
}

.product-reviews {
	&__wrap {
		padding: 50px 0;
	}

	&__title {
		margin-bottom: 20px;
		& span {
			color: rgba(0, 0, 0, 0.1);
		}
	}

	&__row {
		display: grid;
		grid-template-columns: 1fr 0.57fr;
		gap: 150px;
	}

	&__column {
	}

	&__list {
	}

	&__button-wrap {
		display: flex;
		justify-content: center;
	}

	&__button-all {
		max-width: 160px;
		width: 100%;
		margin-top: 40px;
		&.button-hidden {
			display: none;
		}
	}

	&__rating {
		display: flex;
		align-items: center;
		margin-bottom: 30px;
		& .rating__reviews {
			margin-right: 30px;
			font-size: 48px;
			line-height: 110%;
			color: #000000;
		}

		& .rating__item svg {
			width: 18px;
			height: 18px;
		}

		& .rating__text {
			margin-right: 30px;
			text-align: left;
			max-width: 60px;
			font-size: 12px;
			line-height: 140%;
			text-transform: uppercase;
			color: #999999;
		}
	}

	&__button {
		max-width: 100%;
		width: 100%;
	}

	&__group-all-rev {
		padding: 50px 60px;
		text-align: center;
		background: #ecedef;
	}

	&__not-rev {
		& .product-reviews__title {
			text-align: center;
		}

		&-image {
			margin-bottom: 2.5%;
			text-align: center;
		}

		&-text {
			margin-bottom: 2.5%;
			text-align: center;
		}

		&-button {
			text-align: center;
		}
	}
}

.item-rev {
	overflow: hidden;
	transition: all 0.3s ease;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	&.--hidden {
		margin-bottom: 0;
	}
	&__user {
		padding: 40px 0;
	}

	&__group {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 30px;
	}

	&__group-name {
	}

	&__name {
		font-size: 12px;
		line-height: 140%;
		text-transform: uppercase;
		color: #000000;
	}

	&__date {
		font-size: 12px;
		line-height: 140%;
		color: #999999;
	}

	&__rating {
		margin-bottom: 30px;
	}

	&__text {
		font-size: 14px;
		line-height: 140%;
		color: #444444;
	}

	&__admin {
		display: flex;
		padding: 0px 0 40px 40px;
		& .item-rev__name {
			color: #000000;
		}

		& .item-rev__group {
			margin-bottom: 20px;
		}
	}

	&__image {
		margin-right: 10px;
		& img {
			height: 32px;
			min-width: 32px;
			object-fit: contain;
		}
	}

	&__group-review {
	}

	&__name-user {
		margin-top: 2px;
		font-size: 12px;
		line-height: 140%;
		color: #999999;
	}
}

@media (max-width: 1300px) {
	.product-reviews {
		&__row {
			gap: 100px;
		}
	}
}

@media (max-width: 1170px) {
	.product-reviews {
		&__row {
			grid-template-columns: 1fr 0.5fr;
			gap: 30px;
		}

		&__group-all-rev {
			padding: 35px 30px;
		}

		&__wrap {
			padding-top: 20px;
		}
	}
}

@media (min-width: 768px) and (max-width: 900px) {
	.product-reviews {
		&__rating {
			flex-direction: column;
			align-items: flex-start;
			margin-bottom: 15px;

			& .rating__text {
				max-width: initial;
				margin-right: 0;
			}
		}
	}
}

@media (max-width: 768px) {
	.product-reviews {
		&__row {
			grid-template-columns: 1fr;
			gap: 5px;
		}

		&__rating {
			margin-bottom: 20px;
			.rating__reviews {
				@include adaptiv-font(48, 36);
			}
		}

		&__column {
			&:first-child {
				order: 2;
			}

			&:last-child {
				order: 1;
			}
		}

		&__group-all-rev {
			position: static !important;
			width: 100% !important;
		}

		& .sticky-spacer {
			display: none !important;
		}

		&__not-rev {
			&-text {
				margin-bottom: 15px;
			}
		}

		&__button-all {
			margin-top: 25px;
		}
	}

	.item-rev {
		&__user {
			padding: 20px 0;
		}

		&__group {
			margin-bottom: 15px;
		}

		&__rating {
			margin-bottom: 15px;
		}

		&__admin {
			padding: 0px 0 20px 15px;
			& .item-rev__group {
				margin-bottom: 10px;
			}

			& .item-rev__name {
				font-size: 10px;
			}

			& .item-rev__name-user {
				font-size: 10px;
			}
		}

		&__date {
			font-size: 10px;
		}

		&__name {
			font-size: 10px;
		}
	}
}

@media (max-width: 500px) {
	.product-reviews {
		&__button-all {
			max-width: initial;
		}
	}
}

@media (max-width: 370px) {
	.product-reviews {
		&__group-all-rev {
			padding: 25px;
		}
		&__rating {
			& .rating__reviews {
				margin-right: 10px;
			}

			& .rating__text {
				margin-right: 10px;
			}
		}
	}
}
