<nav class="main-nav">
    <ul class="main-nav__list">

        <li class="main-nav__item hover-item">
            <a href="#" class="main-nav__link">Для нее</a>

            <!-- <ul class="main-nav__submenu show-menu">

                <li class="main-nav__subitem hover-item">
                    <a href="#" class="main-nav__sublink">Уровень меню 2</a>

                    <ul class="main-nav__submenu show-menu">

                        <li class="main-nav__subitem hover-item">
                            <a href="#" class="main-nav__sublink">Уровень меню 3</a>
                        </li>

                        <li class="main-nav__subitem hover-item">
                            <a href="#" class="main-nav__sublink">Уровень меню 3</a>
                        </li>

                        <li class="main-nav__subitem hover-item">
                            <a href="#" class="main-nav__sublink">Уровень меню 3</a>
                        </li>

                    </ul>

                </li>

                <li class="main-nav__subitem hover-item">
                    <a href="#" class="main-nav__sublink">Уровень меню 2</a>
                </li>

                <li class="main-nav__subitem hover-item">
                    <a href="#" class="main-nav__sublink">Уровень меню 2</a>
                </li>

            </ul> -->

        </li>

        <li class="main-nav__item hover-item">
            <a href="#" class="main-nav__link">Для него</a>
        </li>

        <li class="main-nav__item hover-item">
            <a href="#" class="main-nav__link current">Sale</a>
        </li>

        <li class="main-nav__item hover-item">
            <a href="#" class="main-nav__link">Фабрика</a>
        </li>

        <li class="main-nav__item hover-item">
            <a href="#" class="main-nav__link">Покупателям</a>
        </li>

    </ul>
</nav>