.header {
	position: relative;
	background: #fff;
	&.fixed {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 15;

		& + .main {
			margin-top: 62px;
		}

		& .header__wrap {
			padding: 15px 0;
		}
	}
	&__wrap {
		position: relative;
		padding: 24px 0;
		transition: padding 0.15s ease;
	}

	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__column {
		display: flex;
		align-items: center;
	}

	&__logo {
		margin-right: 40px;
	}

	&__lang {
		margin-right: 32px;
	}

	&__search {
		margin-right: 30px;
	}

	&__login {
		margin-right: 30px;
	}

	&__fav {
		margin-right: 30px;
	}

	&__cart {
		margin-right: 10px;
	}

	&__burger {
		cursor: pointer;
		display: none;
		margin-right: 13px;
		position: relative;
		width: 18px;
		height: 14px;

		& span {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0, -50%);
			width: 100%;
			height: 2px;
			border-radius: 1px;
			background: #000000;
		}

		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 0;
			width: 100%;
			height: 2px;
			border-radius: 1px;
			background: #000000;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}
	}

	&__search-panel {
	}
}

.logo {
}

.lang-main {
	position: relative;
	cursor: pointer;
	font-size: 13px;
	line-height: 140%;
	text-transform: uppercase;
	color: #000000;
	&__current {
		position: relative;
		padding-right: 17px;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			right: 0;
			transform: translate(0, -50%);
			width: 10px;
			height: 6px;
			background: url("../img/icon-arrow-lang.svg") no-repeat;

			transition: all 0.3s ease;
		}
	}

	&__list {
		opacity: 0;
		visibility: hidden;
		transform: translate(0, 20px);

		transition: all 0.3s ease;

		position: absolute;
		top: calc(100% + 6px);
		left: 0;

		min-width: 67px;

		background: #ffffff;
		box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.06);
		z-index: 2;
	}

	&__item {
		& a {
			display: block;
			padding: 15px;
			font-weight: bold;
			font-size: 12px;
			line-height: 140%;
			text-transform: uppercase;
			color: #999999;
		}
		&:first-child {
			& a {
				padding-bottom: 9px;
			}
		}
		&:last-child {
			& a {
				padding-top: 9px;
			}
		}
		&.current {
			& a {
				color: #000;
			}
		}
	}

	&.active {
		& .lang-main__list {
			opacity: 1;
			visibility: visible;
			transform: translate(0, 0px);
		}

		& .lang-main__current {
			&::before {
				transform: translate(0, -50%) rotate(180deg);
			}
		}
	}
}

.search-main {
	cursor: pointer;
	display: flex;
	align-items: center;
	font-size: 13px;
	line-height: 140%;
	text-transform: uppercase;
	color: #000000;
	&__sign {
		margin-left: 10px;
	}
	& svg {
		vertical-align: top;
	}
}

.login-main {
	& svg {
		vertical-align: top;
		& path {
			transition: all 0.3s ease;
		}
	}
	&:hover {
		& svg {
			& path {
				stroke: #c41616;
			}
		}
	}
	&__link {
	}
}

.fav-main {
	&__link {
		position: relative;
		display: block;
	}

	&__value {
		position: absolute;
		top: -11px;
		right: -14px;
		padding: 0em 0.3em;
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 16px;
		min-height: 16px;
		// max-width: 16px;
		// max-height: 16px;
		border-radius: 50%;
		font-size: 12px;
		line-height: 140%;
		text-transform: uppercase;
		color: #ffffff;
		background: #000000;
	}

	& svg {
		vertical-align: top;
		& path {
			transition: stroke 0.3s ease;
		}
	}

	&:hover {
		& svg {
			& path {
				stroke: #c41616;
			}
		}
	}
}

.cart-main {
	&__link {
		position: relative;
		display: block;
	}

	&__value {
		position: absolute;
		top: -11px;
		right: -11px;
		padding: 0em 0.3em;
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 16px;
		min-height: 16px;
		// max-width: 16px;
		// max-height: 16px;
		border-radius: 50%;
		font-size: 12px;
		line-height: 140%;
		text-transform: uppercase;
		color: #ffffff;
		background: #c41616;
	}

	& svg {
		vertical-align: top;
		& path {
			transition: stroke 0.3s ease;
		}
	}

	&:hover {
		& svg {
			& path {
				stroke: #c41616;
			}
		}
	}
}

@media (max-width: 1170px) {
	.header {
		&__wrap {
			padding: 15px 0;
		}

		&__logo {
			margin-right: 10px;
		}

		&__burger {
			display: block;
		}

		&.fixed {
			& + .main {
				margin-top: 62px;
			}
		}
	}

	.main-nav {
		display: none;
	}
}

@media (max-width: 768px) {
	.header {
		&__lang {
			display: none;
		}

		&__search {
			margin-right: 13px;
		}

		&__login {
			margin-right: 13px;
		}

		&__fav {
			margin-right: 17px;
		}

		&__cart {
			// margin-right: 10px;
		}
	}

	.search-main {
		&__sign {
			display: none;
		}
	}
}

.search-panel {
	opacity: 0;
	visibility: hidden;
	transform: translate(0, 100px);

	transition: all 0.3s ease;

	border-top: 1px solid #f0eff2;
	position: absolute;
	top: 100%;
	left: 0;
	padding: 15px 0 25px 0;
	width: 100%;
	height: 100vh;
	z-index: 2;
	background: #ffffff;
	&__form {
		margin-bottom: 15px;
	}

	&__wrap {
		position: relative;
		border-bottom: 1px solid #f0eff2;
		& input {
			padding: 25px 38px;
			width: 100%;
			font-size: 30px;
			line-height: 120%;
			color: #000000;
		}
	}

	&__button {
		position: absolute;
		top: 55%;
		transform: translate(0, -50%);
		left: 0;
		background: none;
	}

	&__result {
		overflow: auto;
		max-height: calc(100vh - 150px);
	}

	&__result-list {
		max-width: 1200px;
	}

	&__result-item {
		display: block;
		padding: 25px 0 25px 38px;
		border-bottom: 1px solid #f0eff2;
		position: relative;
		font-size: 14px;
		line-height: 140%;
		color: #444444;

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			width: 15px;
			height: 15px;
			transform: translate(0, -50%);
			background: url("../img/icon-search-result.svg") no-repeat;
			opacity: 0.5;
		}
	}

	&__close {
		cursor: pointer;
		position: absolute;
		top: 50%;
		right: 8px;
		transform: translate(0, -50%);
		width: 15px;
		height: 15px;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			height: 1px;
			border-radius: 1px;
			background: #000;
		}

		&::before {
			transform: translate(-50%, -50%) rotate(45deg);
		}

		&::after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}

	&.active {
		opacity: 1;
		visibility: visible;
		transform: translate(0, 0);
	}
}

@media (max-width: 1430px) {
	.search-panel {
		&__wrap {
			& input {
				@include adaptiv-font(30, 18);
			}
		}
	}
}

@media (max-width: 768px) {
	.search-panel {
		&__wrap {
			& input {
				padding: 15px 30px 15px 25px;
			}
		}

		&__result-item {
			padding: 15px 25px;
		}
	}
}
